* {
  margin: 0;
  padding: 0;
}

.admin_body {
  font-family: "Pretendard";
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.v-line {
  border-left: 0.28rem solid #d9d9d9;
  height: 100%;
  left: 80%;
  position: absolute;
}

.h-line1 {
  border-bottom: 0.18rem solid #d9d9d9;
  width: 20%;
  left: 80%;
  margin-top: 14.5vh;
  position: absolute;
}

.h-line2 {
  border-bottom: 0.18rem solid #d9d9d9;
  width: 20%;
  left: 80%;
  margin-top: 24vh;
  position: absolute;
}

.h-line4 {
  border-bottom: 0.18rem solid #d9d9d9;
  width: 20%;
  left: 80%;
  margin-top: 33.5vh;
  position: absolute;
}

.h-line5 {
  border-bottom: 0.18rem solid #d9d9d9;
  width: 20%;
  left: 80%;
  margin-top: 43vh;
  position: absolute;
}

.h-line6 {
  border-bottom: 0.18rem solid #d9d9d9;
  width: 20%;
  left: 80%;
  margin-top: 52.5vh;
  position: absolute;
}

.h-line7 {
  border-bottom: 0.18rem solid #d9d9d9;
  width: 20%;
  left: 80%;
  margin-top: 62vh;
  position: absolute;
}

.h-line8 {
  border-bottom: 0.18rem solid #d9d9d9;
  width: 20%;
  left: 80%;
  margin-top: 71.5vh;
  position: absolute;
}

.h-line9 {
  border-bottom: 0.18rem solid #d9d9d9;
  width: 20%;
  left: 80%;
  margin-top: 81vh;
  position: absolute;
}

.h-line10 {
  border-bottom: 0.18rem solid #d9d9d9;
  width: 20%;
  left: 80%;
  margin-top: 90.5vh;
  position: absolute;
}

.bottom-line {
  border-bottom: 0.4rem solid #d9d9d9;
  margin-top: 5vh;
}

.admin_header {
  float: left;
  width: 80%;
}

.main-title {
  color: #000;
  text-align: center;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.2px;
  float: left;
  margin-left: 2%;
  margin-bottom: 1%;
}

.digital-clock {
  width: 15%;
  margin-left: 85%;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1.2%;
}

.title-alarm {
  float: right;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 18%;
}

.title-notice {
  position: absolute;
  font-family: "Pretendardbold";
  float: right;
  color: #2d63a4;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 900;
  width: 15%;
  text-align: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.alarm-container {
  margin-top: 6vh;
  text-align: center;
  position: absolute;
  right: 1%;
}

.alarm-item {
  font-size: 1.1rem;
  font-weight: 500;
  width: 15rem;
  margin-bottom: 11%; /* 아이템 사이의 수직 간격을 설정 */
}
.alarmdel {
  position: absolute;
  margin-top: 0.5%;
  right: 0;
  border: none;
}

.admin_nav {
  margin-top: 0.8rem;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
}

.info_table1 {
  width: 14.5%;
  height: 2.4rem;
  border-radius: 1px;
  background: #87deff;
  float: left;
  position: absolute;
  font-size: 1rem;
  font-weight: 900;
  margin-left: 2.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.info_table2 {
  width: 14.5%;
  height: 2.4rem;
  border-radius: 1px;
  background: #87deff;
  float: left;
  position: absolute;
  font-size: 1rem;
  font-weight: 900;
  margin-left: 17.8%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.info_table3 {
  width: 14.3%;
  height: 2.4rem;
  border-radius: 1px;
  background: #87deff;
  float: left;
  position: absolute;
  font-size: 1rem;
  font-weight: 900;
  margin-left: 33.1%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.info_table4 {
  width: 14.5%;
  height: 2.4rem;
  border-radius: 1px;
  background: #87deff;
  float: left;
  position: absolute;
  font-size: 1rem;
  font-weight: 900;
  margin-left: 48.3%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.info_table5 {
  width: 14.5%;
  height: 2.4rem;
  border-radius: 1px;
  background: #87deff;
  float: left;
  position: absolute;
  font-size: 1rem;
  font-weight: 900;
  margin-left: 63.7%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.info_title {
  float: left;
  padding: 2.2%;
  margin-left: 12%;
}

.info_num {
  float: right;
  padding: 2.2%;
  margin-left: 15%;
  text-align: center;
  color: #2d63a4;
}

.admin_container {
  width: 72%;
  float: left;
  position: absolute;
  margin-top: 6.5%;
}

.table_choice {
  display: flex;
  margin: 0 auto;
  height: 2.2rem;
  width: 8rem;
  align-items: center;
  background: #2d63a4;
  color: #fff;
  border: 0.15rem solid #000;
  border-radius: 5px;
  margin-top: 5vh;
  margin-left: 94%;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
}

.table_choice:hover {
  background: #87deff;
  color: #fff;
  border: 0.15rem solid #2d63a4;
  font-weight: 900;
  transition: 0.2s;
}

.table-container {
  margin-bottom: 1rem;
}
.box-list {
  margin-top: 11vh;
  margin-left: 2%;
}
.table-container {
  display: flex; /* Flex Container로 설정 */
  height: 13.3vh; /* Flex Container의 높이 설정 */
}

.box {
  position: relative;
  width: 9.2%;
  height: 100px;
  border: 1px solid black;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10%;
}

.box-checkbox {
  position: absolute;
  top: 0;
  left: 0;
}

.box-text {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
}

.admin-footer {
  position: absolute;
  margin-top: 4vh;
  width: 80%;
  float: right;
  margin-right: 10%;
}

.footer-button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  color: #000;
  border-radius: 2.5px;
  font-size: 2rem;
  font-weight: 900;
  justify-content: center;
}

.time-plus {
  position: absolute;
  height: 5vh;
  width: 7rem;
  border-radius: 40px;
  background: #fff;
  border: 1px solid #2d63a4;
  color: #2d63a4;
  margin-left: 15%;
}

.heart-plus {
  position: absolute;
  height: 5vh;
  width: 7rem;
  margin-left: 38%;
  border-radius: 40px;
  background: #fff;
  border: 1px solid #2d63a4;
  color: #2d63a4;
}

.table-exit {
  position: absolute;
  height: 5vh;
  width: 7rem;
  margin-left: 61%;
  border-radius: 40px;
  background: #fff;
  border: 1px solid #2d63a4;
  color: #2d63a4;
}

.table-mix {
  position: absolute;
  height: 5vh;
  width: 7rem;
  margin-left: 83%;
  border-radius: 40px;
  background: #fff;
  border: 1px solid #2d63a4;
  color: #2d63a4;
}

.time-plus:hover,
.heart-plus:hover,
.table-exit:hover,
.table-mix:hover {
  background: #87deff;
  color: #fff;
  border: none;
  transition: 0.2s;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  width: 300px;
  height: 250x;
  padding: 20px;
  text-align: center;
  border-radius: 20%;
}

.modal-hr {
  margin-top: 5%;
}

.content-area {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}

.value {
  margin-top: 10%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 0.5px solid #d5d5d5;
}

.adjust-button {
  margin-top: 10%;
  font-size: 24px;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  align-items: center;
}

.close-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  margin-left: 80%;
}

.plus-button {
  background-color: #87deff;
  color: white;
  border: none;
  margin-top: 30%;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
